@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    width: 100%;/*faz o cabeçalho ocupar toda a largura da pag*/
    height: 120px;/*define a altura do cabeçalho*/
    display: flex;/**/
    align-items: center;/**/
    position: relative;/**/
    top: 0;/**/
    z-index: 1;/**/
    box-shadow: 0 0 10px #000;/**/
    background-color: #fff; /**/
    padding: 0 20px;/**/
}

header .logo {
    margin-right: 20px;/**/
    display: flex;/**/
    align-items: center;/**/
    max-width:200px;/**/
    max-height:150px;/**/
    width: auto;/**/
    height: auto;/**/
}

header .search-box {
    flex: 1;/**/
    position: relative;/**/
}

.search-box form {
    display: flex;/**/
    align-items: center;/**/
    width: 100%;/**/
}

.search-box button {
    border: none; /**/
    background: transparent; /**/
    cursor: pointer;/**/
    display: flex;/**/
    align-items: center;/**/
    position: absolute;/**/
    left: 10px; /**/
    height: 100%;/**/
    margin-top: 11.9px;/**/
}

.search-box button i {
    font-size: 17px;/**/
    color: gray;/**/
}

.search-box input {
    flex: 1;/**/
    height: 50px;/**/
    border: none; /**/
    outline: none; /**/
    background: #f2f2f2;/**/
    border-radius: 5px;/**/
    color: gray;/**/
    font-size: 15px;/**/
    padding: 0 40px 0 40px; /**/
    margin-top: 10px;/**/
}
.search-box input::placeholder {
    color: rgb(173, 169, 169);/**/
    font-family: 'Montserrat', sans-serif;
}

header nav {
    flex: 2;/**/
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    list-style: none;/**/
    display: flex;/**/
    gap: 15px;
}

nav ul li {
    position: relative;
    margin-top: 11px;
}

nav ul li a {
    text-decoration: none;/**/
    color: rgb(107, 104, 104);/**/
    font-weight: 500;/**/
    padding: 18px;
    font-size: 15px;
}
nav ul li a:hover {
   color: #40331e;/**/
}
nav ul li a i{
    font-size: 18px;/**/
}

nav ul li .submenu {
    display: none;
    position: absolute;
    background-color: #291E40;
    list-style: none;
    padding: 10px;
    margin-top: 44px;
    top: 100%;
    right: -30px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 180px;
    width: auto;
}
  
nav ul li .submenu li a{
    color: white;
    padding: 8px;
    display: block;
    font-size: 14px;
}

nav ul li .submenu li a:hover{
    background-color: #4145d2;
    border-radius: 10px;
}
input[type="checkbox"]{
    display: none;
    
}
.dropdown label {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: rgb(107, 104, 104);
    font-weight: 500;
    font-size: 15px;
}
.dropdown label:hover {
    color: #40331e;
}

input[type="checkbox"]:checked ~ .submenu {
    display: block;
}
.submenu-icon{
    width: 12px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}